*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppns',  sans-serif;
}

:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
    --logo-color: #ff4321;
    --font-color: #606163; 
}

.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
    --font-color: #fff;
}

#darkMode-icon{
    width: 30px;
    cursor: pointer;
}

.hero{
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 84%;
    margin: auto;
    padding: 20px 0;
}

.logo{
    width: 100px;
    cursor: pointer;
}
nav ul{
    list-style-type: none;
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    margin: auto;
    padding: 15px 30px;
}

nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: var(--font-color);
}

nav ul li a:hover{
    color: var(--logo-color);
}

.info{
    position: absolute;
    top: 40%;
    left: 10%;
}

.info h1{
    font-size: 60px;
    color: var(--font-color);
}

.info span{
    color: var(--logo-color);
}

.info p{
    font-size: 20px;
    margin: 20px 0 30px;
    line-height: 25px;
    color: var(--font-color);
}

.info a{
    display: inline-block;
    padding: 10px 18px;
    background-color: var(--secondary-color);
    color:var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.info a:hover{
    color:var(--logo-color);
}

.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.img-box img{
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.img-box:hover .back-img{
    bottom: 40px;
}

.img-box:hover .front-img{
    left: 54%;
}

.links{
    position: absolute;
    bottom: 5%;
    left: 9%;
}

.links a{
    font-size: 30px;
    margin-left: 20px;
    color: var(--font-color);
}

.links a:hover{
    color: var(--logo-color);
}